asyncpg>=0.25.0
discord.py[voice]>=2.0.1
spacy==3.7.4
youtube-dl>=2021.4.26
opencv-contrib-python-headless==4.9.0.80
Pillow==10.3.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
