DerPyBooru==0.7.5
discord.py[voice]>=1.5.1,<2.0.0
spacy==2.3.2
youtube-dl>=2021.4.26
opencv-contrib-python-headless==4.4.0.46
Pillow==8.1.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz#egg=en_core_web_sm
